@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
  }
  body {
    @apply leading-normal m-0 flex items-center min-w-[320px] min-h-screen bg-[#242424] text-[rgba(255,255,255,0.87)];
  }
  a {
    @apply font-medium text-[#646cff];
  }
  a:hover {
    @apply text-[#535bf2];
  }
  h1 {
    @apply text-[3.2em] leading-[1.1];
  }
  button {
    @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-[#1a1a1a] cursor-pointer transition-colors;
  }
  button:hover {
    @apply border-[#646cff];
  }
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      @apply text-[#747bff];
    }
    button {
      @apply bg-[#f9f9f9];
    }
  }
}
